.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Add-button{
  background: #f1c40f;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border:none;
}

.Todo-item-title{
  /*add Todo Item Title Class here.*/
}


.Add-button-plus-sign{
  margin:auto;
  font-size:20px;
  font-weight:100;
}

.Delete-button{
  background: #f1c40f;
  width:32px;
  height:32px;
  border-radius: 50%;
  border:none;
}

.Check-box{
  background: #f1c40f;
  border-radius: 50%;
  height:32px;
  width:32px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
